<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Hello, {{name}}</div>
<div>
    {{#isAdmin}}
        <a href="admin">Admin page</a>
    {{/isAdmin}}
</div>
<div>
    <a href="registration">Registration</a>
</div>
<div>
    {{#isAuth}}
        <a href="history">User history</a>
    {{/isAuth}}
</div>
<div>
    {{#isAuth}}
        <a href="logout">Log out</a>
    {{/isAuth}}
</div>
<div>
    {{^isAuth}}
        <a href="login">Log in</a>
    {{/isAuth}}
</div>
</body>
</html>