<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Hello, {{name}}</div>
<div> <a href="hello">User page</a></div>

<div>
    <a href="registration">Registration</a>
</div>
<div>
    <a href="history">User history</a>
</div>
<div>
    <a href="logout">Log out</a>
</div>
<div>
    <a href="login">Log in</a>
</div>
</body>
</html>