<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <meta charset="UTF-8">
</head>
<body>
    {{#histories}}
        <div>
            <b>{{id}}</b>
            <b>{{user}}</b>
            <b>{{algorithm}}</b>
        </div>
    {{/histories}}
</body>