{{> header}}
{{> navbar}}
{{message}}
<form action="/history" method="post">
    <div>
        <label>
            Number to check :
            <input type="text" name="number"/>
        </label>
    </div>
    <div>
        <label> Algorithm :
            <select name="name">
                {{#algos}}
                    <option name="{{name}}">{{name}}</option>
                {{/algos}}
            </select>
        </label>
    </div>
    <div>
        <label>
            Iteration number :
            <input type="text" name="iterations"/>
        </label>
    </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Check number"/></div>
</form>
<div>
    <b>Your history</b>
</div>
{{#hashistory}}
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Algorithm</th>
            <th>Iterations</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        {{#histories}}
            <tr>
                <td>{{number}}</td>
                <td>{{algorithm}}</td>
                <td>{{iterations}}</td>
                <td>{{result}}</td>
            </tr>
        {{/histories}}
        </tbody>
    </table>
{{/hashistory}}
<div>
    <a href="/" class="btn btn-primary">Back</a>
</div>
{{> footer}}